:root {
    --bright: #ffde03;
    --light: #fff3a8;
    --dark: #100700;
    --fs: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --br: 5px;
}


* {
    box-sizing: border-box;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
    padding: 1em;
}

.d-flex {
    display: flex !important;
}

.input-url {
    width: 100%;
    margin-right: 1em;
    display: inline-block;
    padding: 0.6em 0.8em;
}

a {
    text-decoration: underline;
    color: inherit;
}

footer {
    text-align: center;
    margin: 1.5em 0;
    font-size: 80%;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    font-weight: 300;
    background-color: var(--bright);
    font-family: var(--fs);
}

/* footer sticky */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

div.container {
    flex: 1;
}

/* end footer */

h1 {
    font-weight: 800;
    font-size: 4em;
}

h2 {
    font-size: 1.5em;
    font-weight: 800;
}

input,
input:focus,
input:focus-visible,
.form-control,
button {
    outline: none;
    font-family: var(--fs);
    background-color: var(--light);
    border: 1px var(--dark);
    border-radius: var(--br);
    font-size: 1.2em;
}

::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.form-control {
    /* ovverride also :focus and :active */
    background-color: var(--light) !important;
    box-shadow: none !important;

    font-size: 1.4em;
    padding: 1em !important;
}

button {
    border-radius: var(--br);
    background-color: var(--dark);
    color: var(--light);
    margin: 1px;
    cursor: pointer;
    transition: 0.1s ease-in-out all;
}

button:hover {
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.22);
    transform: translate(-2px, -2px);
}

#ooo-button {
    font-weight: 800;
    width: 4em;
}

#copy-button {
    font-weight: 800;
    padding: 0.5em;
    margin-top: 2em;
}

#output-div {
    margin-top: 3em;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 1em 0.5em;
    border-radius: 6px;

    position: absolute;
    z-index: 1;

    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip[data-showme] .tooltip-text {
    visibility: visible;
}

.tooltip .tooltip-text::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}